/* Base CSS format for Jam Basket*/

.TopPage h1 {
    font-size: 4em;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0;
    padding-left: 10px;
    padding-top: 25px;
    bottom: 0;
    float: left;
    height: 30px;
}

.TopPage {
    position: relative;
    width: 100%;
    height: 110px;
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.TopPage a {
    margin-top: 5px;
    width: 100px;
    height: 100px;
    float: left;
}

body {
    background-color: rgb(212, 247, 250);
    margin: 0px;
}

#content {
    margin: 8px;
    overflow: hidden;
    
}

.bar {
    margin: 0px;
    align-items: center;
}

#menu {
    text-align: center;
    border: solid black;
    border-width: 2px 0px 2px 0px;
    background-image: url(blanket.jpg);
}

#menu li {
    display: inline-block;
    padding: 0 70px 0 70px;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 0);
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited:hover {
    color: rgb(255, 0, 0);
}

.news {    
    font-family: 'Fugaz One', cursive;
    width: 5em;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 68, 35);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
}

.leftmain {
    background-color: #D41C1D;
    padding-left: 4px;
    margin-right: 10px;
    width: 10%;
    height: 620px;
    border-right: 3px solid rgb(39, 39, 39);
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    float: left;
}

.leftmain a{
    font-size: 1.3em;
}

.middlemain {
    float: left;
    width: 60%;
}

.rightmain {
    list-style-type: none;
    clear: both;
    float: right;
    width: 17%;
}
.rightmain h3 {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0;
}

.jam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.feature{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

input[type=text] {
    width: 250px;
    padding: 7px;
    vertical-align: middle;
    opacity: .8;
}

input[type=text]:hover {
    width: 250px;
    padding: 7px;
    vertical-align: middle;
    opacity: 1;
}

input[type=text]:focus {
    width: 250px;
    padding: 7px;
    vertical-align: middle;
    opacity: 1;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

}

.images {
    list-style-type: none;
}

.mockname {
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 3em;
    margin: 0;
}

.theme {
    font-size: 2em;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin:0 0 20px 0;
}

.learnmore {
    font-family: 'Fugaz One', cursive;
    width: 22em;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 68, 35);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
  }
footer p {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}