/* Base CSS format for Jam Basket*/

.TopPage h1 {
    font-size: 4em;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0;
    padding-left: 10px;
    padding-top: 25px;
    bottom: 0;
    float: left;
    height: 30px;
}
.TopPage a {
    margin-top: 5px;
    width: 100px;
    height: 100px;
    float: left;
}
.TopPage {
    position: relative;
    width: 100%;
    height: 110px;
}
body {
    background-color: rgb(212, 247, 250);
    margin: 0px;
}
#content {
    margin: 8px;
}
#content h1{
    color: green;
    
}

#menu {
    text-align: center;
    border: solid black;
    border-width: 2px 0px 2px 0px;
    background-image: url(blanket.jpg);
}
.TopPage {
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bar {
    margin: 0px;
    align-items: center;
}

#menu li {
    display: inline-block;
    padding: 0 94px 0 94px;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;

}

#menu li a {
    color: #FFFFFF;
    text-decoration: none;
}
#menu li a:visited:hover {
    color: rgb(255, 0, 0);
}
#menu li a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
input[type=text] {
    width: 250px;
    padding: 7px;
    vertical-align: middle;
    opacity: .8;
  }
input[type=text]:hover {
    width: 250px;
    padding: 7px;
    vertical-align: middle;
    opacity: 1;
}
input[type=text]:focus {
    width: 250px;
    padding: 7px;
    vertical-align: middle;
    opacity: 1;
}
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

}
.rightmain {
    list-style-type: none;
    clear: both;
    float: right;
}

.images {
    list-style-type: none;
}

.learnmore {
    background-color: rgb(132, 2, 253); /* Green */
    border: none;
    color: white;
    padding: 20px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
  }
