/* Base CSS format for Jam Basket*/

body {
    background-color: rgb(212, 247, 250);
    max-height: auto;
}

.outer{
    min-height: 100vh;
    max-width: 20em;
    background-image: url(blanket.jpg);
    margin: auto;
    border-style: dashed;
    border-color: black;
    z-index: -1;

}

.blanket{
    min-height: 100vh;
    max-width: 20em;
    background-color: white;
    margin: auto;
    z-index: -1;
}

.form{
    text-align: center;
    margin-top: 10em;
    margin-left: 5em;
    position: absolute;
    opacity: .7;
}


