/* Base CSS format for Jam Basket*/

body {
  background-color: rgb(212, 247, 250);
  max-height: auto;
}

.outer{
  min-height: 100vh;
  max-width: 20em;
  background-image: url(blanket.jpg);
  margin: auto;
  border-style: dashed;
  border-color: black;
  z-index: -1;
}

.blanket {
  min-height: 100vh;
  max-width: 20em;
  background-color: white;
  margin: auto;
  z-index: -1;
}

.forms {
  text-align: center;
  margin-top: 22em;
  margin-left: 5em;
  position: absolute;
  padding: 5px;
  background-color: #D8475B;
  border-radius: 5px;
}
p {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 0;
}
input[type=text] {
  opacity: .9;
  margin-bottom: 5px;
}
input[type=password] {
  opacity: .9;
  margin-bottom: 5px;
}
input[type=text]:focus {
  opacity: 1;
}
input[type=password]:focus {
  opacity: 1;
}
.form:hover{
  position: absolute;
  opacity: 1;
}
#acct {
  font-size: 1.2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 2px;
  margin-bottom: 2px;
}
#regis {
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 2px;
  margin-bottom: 2px;
}
a {
  font-size: 1.2em;
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-decoration: none;
}
a:visited {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-decoration: none;
}
a:hover {
  font-family: 'Roboto', sans-serif;
  color: rgb(223, 223, 223);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-decoration: none;
}