
body {
    margin: 5% 0 0 0;
    background-image: url(../../site_resources/sky.jpg);
    background-position: 0 -45px;
    background-repeat: no-repeat;
    background-color: rgb(4, 209, 106);
    background-size: 100% 200px;
}

#header {
    background-color: rgb(4, 209, 106);
    width: 100%;
    float: left;
    border: solid
    margin: 0;
}

.blanket {
    background-image: url(../../site_resources/blanket.jpg);
    margin: 1%;
    height: auto;
    width: 80%;
    float: left;
    border-radius: 16px;
    border: solid #F00;
}

h2, h3 {
    float: left;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    width: auto;
    border: solid #F00;
}

#clickables {
    text-align: center;
    float: left;
    margin: -45px 0 0 0;
}

#clickables ul {
    display: inline;
    text-align: center;
}

#clickables li {
    text-align: center;
    border: solid #BBB;
    border-radius: 25%;
    background-color: antiquewhite;
    display: inline-block;
}

#profile {
    float: left;
    position: relative;
    top: 50%;
}

#profile img {
    border: solid #F00;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

#profile h2, #profile h3 {
    float: right;
    background-color: antiquewhite;
    margin: 1% 0 1% 0;
    text-indent: 0.5em;
    font-size: 1.5em;
    height: auto;
    width: 75%;
    border-radius: 32px;
}

#logged {
    float: right;
    margin: 1%;
    position: relative;
}

#logged img {
    border: solid #F00;
    width: 80px;
    height: 80px;
    float: right;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-10%, 10%);
}

#content {
    margin: 0;
    border: solid;
}