/* Tyler */
body{
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
    padding: 0;
    top: 0;
    margin: 0;
}

#content{
    display: inline-block;
    text-align: center;
    margin: 8px;
}
h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.login, .register{
    margin-top: 7px;
    padding: 1em;
    float: right;
    position: static;
    background-color: rgb(255, 0, 0);
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.toggles{
    margin-right: 25%;
}

.logged{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 2%;
    top: 2%;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: wheat;
    bottom: 0;
    
}

.clock{
    position: absolute;
    vertical-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    top: 35%;
    left: 84%;
    width: 12em;
    height: 8em;
    margin-top: 4%;
    background-color: red;
}

.clock button{
    position: absolute;
    margin-left: -18%;
    margin-top: 75%;
    padding: 1em;
    background-color: rgb(255, 0, 0);
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.inside{
    position: absolute;
    margin-top: 1.5em;
}

#time{
    position: fixed;
    top: 35%;
    left: 85%;
    margin-top: 6.25%;
    font-family: 'Fugaz One', cursive;
    z-index: 1;

}

.announcements{
    background-color: #D41C1D;
    font-family: 'Fugaz One', cursive;
    border-right: solid;
    border-color: black;
    height: 15em;
    width: 40em;
    padding-right: 0.5%;
    padding-left: 0.5%;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    float: left;
    overflow: scroll;

}

.announcements .announcement-entry{
    border-bottom: solid;
    border-color: black;
    
}

.announce{
    text-align: center;
    border-right: solid;
    border-top: solid;
    border-bottom: dotted;
    border-color: black;
    margin-bottom: 0;
    background-color: #D41C1D;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    width: 646.5px;
}


#content .description{
    background-color: #D41C1D;
    width: 100%;
    padding-left: 90%;
    padding-right: 90%;
    border: solid;
    border-color: black;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(4,0,0); /* Fallback color */
    background-color: rgba(0,34,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
    background-color: #D41C1D;
    border: solid;
    border-color: black;
    border-radius: 10em;
}
  
/* The Close Button */

.modal-content .top{
    text-align: center;
    border-bottom: dotted;
    border-color: black;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    width: 341px;
}

.modal-content .mockjam{
    font-size: 2em;
    text-align: center;
}

.modal-content .dates{
    text-align: center;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
    width: 341px;
}


.total{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}