#filterBar {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ddd;
  margin-bottom: 8px;
}

#jamEntries {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accordion {
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  color: black;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  text-align: left;
  outline: none;
}

.accordion:after {
  content: "\02795";
  font-size: 12px;
  color: #777;
  float: right;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.active:after {
  color: rgb(255, 81, 81);
  content: "\2796";
}

.panel {
  border-radius: 6px;
  padding: 0 18px 18px 18px;
  background-image: url(../../site_resources/blanket.jpg);
  display: none;
  overflow: hidden;
  border: solid #777;
}
.start {
  border-bottom: 2px dotted black;
}
.panel-text {
  margin-top: 5px;
  background-color: rgb(255, 81, 81);
  border: solid 2px black;
  border-radius: 4px;
}
.panel-text a {
  background-color: rgb(247, 138, 138);
  border: solid 2px black;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-left: 8px;
  margin-bottom: 6px;
}
.panel p {
  margin: 5px;
  padding: 3px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}